@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Inspiration&family=Righteous&family=Montserrat&display=swap");

* {
  box-sizing: border-box;
}

html {
  background-color: #181e32;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0px;
  overflow-x: hidden;
  position: relative;
  min-height: 100%;
}

main {
  padding-bottom: 100px;
}

/*--------------------  HEAD STARTS ----------------------------------------*/

.head {
  display: flex;
  flex-direction: column;
}

/*--------------------  SOCIAL STARTS ----------------------------------------*/

.social {
  width: 100%;
  height: 35px;
  background-color: #ff6a3d;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  overflow: hidden;
  border-bottom: 1px solid #ff9a7b;
}

.social ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
}

.social li {
  margin: 10px;
  display: flex;
  align-items: center;
}

.social a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-weight: normal;
}

.social a:hover {
  background:none;
  color: #fff;
}

/*--------------------  SOCIAL ENDS ----------------------------------------*/
/*--------------------  NAV STARTS ----------------------------------------*/

.logo-container {
  position: absolute;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  left: 0;
}

.logo-container img {
  height: 50px;
  margin: 0;
}

nav {
  width: 100%;
  background-color: #ff6a3d;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  overflow: hidden;
}

.navigations {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  z-index: 9999;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
}

nav li {
  margin: 10px 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-weight: normal;
  text-transform: uppercase;
  font-family: "Righteous", cursive;
}

nav a:hover {
  text-decoration: underline;
  background:none;
  color: #fff;
}

.profile {
  position: absolute;
  width: max-content;
  height: max-content;
  padding: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  max-width: 1200px;
}

.profile li {
  margin: 0 10px;
}
.profile a:hover{
  background:none;
  color: #fff;
}

/*--------------------  NAV ENDS ----------------------------------------*/
/*--------------------  DISCOUNT STARTS ----------------------------------------*/

.discount {
  width: 100%;
  height: 35px;
  background-color: #fdd5b1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  overflow: hidden;
  color: #ff6a3d;
  font-weight: bold;
}

.discount p {
  animation: float 20s linear infinite;
  white-space: nowrap;
  overflow: hidden;
}

@keyframes float {
  0% {
    transform: translateX(100%);
  }

  50% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}

/*----- DISCOUNT ENDS -----*/
/*--------------------  HEAD ENDS ----------------------------------------*/

/*--------------------  BACKGROUND VIDEO STARTS ----------------------------------------*/

video {
  margin-top: 5%;
}

.bg {
  width: 12%;
  height: auto;
  z-index: -1;
  position: relative;
  animation: move 10s linear infinite;
}

@keyframes move {
  0% {
    left: -40%;
  }

  100% {
    left: calc(100vw - 100px);
  }
}

/*--------------------  BACKGROUND VIDEO ENDS ----------------------------------------*/
/*--------------------  TITLE & MAIN PART STARTS ----------------------------------------*/

.main {
  margin-top: -150px;
}

.main h1 {
  font-family: "Righteous", cursive;
  font-size: 50px;
  text-align: center;
  color: #f8e089;
  z-index: 1;
  margin-top: 16px;
}

.main p {
  font-family: "Dancing Script", cursive;
  font-size: 18px;
  text-align: center;
  color: #f8e089;
  margin: 2px 0 0 10%;
  z-index: 1;
}

form {
  margin-top: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type="text"] {
  padding: 30px;
  border: none;
  border-radius: 10px 0 0 10px;
  font-size: 16px;
  width: 250px;
}

button[type="submit"] {
  padding: 30px 40px;
  border: none;
  border-radius: 0 10px 10px 0;
  background-color: #ff6a3d;
  color: #f8e089;
  font-size: 16px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #555;
}

form input[type="text"]::placeholder {
  color: #ff6a3d;
}

/*--------------------  TITLE & MAIN PART ENDS ----------------------------------------*/

.down-arrow {
  width: 5px; 
  height: 5px; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #000a2a; 
  margin: 100px auto;

}

/*--------------------  HELP STARTS ----------------------------------------*/

.help-button {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background-color: #ff6a3d;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  z-index: 999;
}

.help-button a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

/*--------------------  HELP ENDS ----------------------------------------*/
/*--------------------  TOOLS STARTS ----------------------------------------*/

.items {
  color: #f8e089;
  max-width: 1200px;
  margin: 100px auto;
  text-align: center;
}

.items-heading {
  text-align: center;
  color: #f8e089;
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
}

.items .view-all {
  color: #f8e089;
  background-color: #000a2a;
  border: 1px solid #000a2a;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: -10px;
  margin-bottom: 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  cursor: pointer;
}

.items button a {
  color: #f8e089;
  text-decoration: none;
}

.tools,
.helmets,
.jersey,
.lights,
.apparel,
.new-products {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  margin-bottom: 100px;
}

.tool-box,
.helmet-box,
.jersey-box,
.light-box,
.apparel-box,
.new-products-box {
  width: 19%;
  padding: 20px;
  background-color: #181e32;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.tool-image,
.helmet-image,
.jersey-image,
.light-image,
.apparel-image,
.new-products-image {
  position: relative;
  overflow: hidden;
  text-align: center;
  width: 100%;
  height: 250px;
}

.tool-image img,
.helmet-image img,
.jersey-image img,
.light-image img,
.apparel-image img,
.new-products-image img {
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease;
  object-fit: cover;
}

.tool-image:hover img,
.helmet-image:hover img,
.jersey-image:hover img,
.light-image:hover img,
.apparel-image:hover img,
.new-products-image:hover img {
  transform: scale(1.1);
}

.quick-view-btn {
  position: absolute;
  bottom: 5px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  transition: background-color 0.5s ease;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
}

.quick-view-btn:hover {
  background-color: #181e32;
}

.tool-details,
.helmet-details,
.jersey-details,
.light-details,
.apparel-details,
.new-products-details {
  text-align: center;
  margin-top: 10px;
  width: 100%;
  height: 30%;
  padding: 10px;
  box-sizing: border-box;
}

.tool-name,
.helmet-name,
.jersey-name,
.light-name,
.apparel-name,
.new-products-name {
  font-size: 16px;
  font-weight: bold;
  margin: 5px 0;
}

.tool-rating,
.helmet-rating,
.jersey-rating,
.light-rating,
.apparel-rating,
.new-products-rating {
  color: #ffd700;
  font-size: 14px;
}

.checked {
  color: #ffd700;
}

.tool-price,
.helmet-price,
.jersey-price,
.light-price,
.apparel-price,
.new-products-price {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}

.advantages {
  margin-top: 60px;
  margin-bottom: 100px;
}

.advantages h2 {
  text-align: center;
  color: #f8e089;
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
}

.advantages img {
  margin-top: -25px;
  width: 50%;
  height: 100%;
  transition: transform 0.5s ease;
  text-align: center;
  align-items: center;
}

.offers {
  margin-top: 200px;
  margin-bottom: 100px;
  background-color: #ff6a3d;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px;
}


.offers h2 {
  text-align: center;
  color: #f8e089;
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  margin-bottom: 50px;
}

.offers p {
  font-size: 25px;
  color: #fff;
  margin-bottom: 50px;
  max-width: 800px;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="email"] {
  padding: 10px;
  font-size: 18px;
  border: none;
  border-radius: 5px 0 0 5px;
  width: 400px;
}

.subscribe-btn {
  background-color: #fff;
  color: #ff6a3d;
  border: none;
  border-radius: 0 5px 5px 0;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.subscribe-btn:hover {
  background-color: #f8e089;
  color: #ff6a3d;
}

input:focus {
  outline: none;
}

.customer-reviews {
  position: relative;
  overflow: hidden;
  margin-top: 150px;
  margin-bottom: 100px;
}

.customer-reviews h2 {
  text-align: center;
  color: #f8e089;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  margin-bottom: 50px;
}

.customer-reviews p {
  text-align: center;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  margin-bottom: 50px;
}

.review-wrapper {
  display: flex;
  flex-wrap: nowrap;
  transition: transform 0.3s ease;
  width: 99%;
}

.review {
  flex: 0 0 50%;
  padding: 50px;
  text-align: left;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 2px;
  font-family: 'Montserrat', sans-serif;
}

.review-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.rating i {
  color: #ffd700;
  font-size: 14px;
}

.review-title {
  font-size: 18px;
  font-weight: bold;
  margin-left: 10px;
  color: #ff6a3d;
}

.review-text {
  margin-bottom: 10px;
}

.review-footer {
  display: flex;
  align-items: center;
}

.review-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}

.reviewer-name {
  font-weight: bold;
  margin-right: 5px;
  color: #ffb6a0;
}

.reviewer-item {
  margin-right: 5px;
  color: #ff6a3d;
}

.review-date {
  color: #999;
}

.arrow-wrapper {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: 1;
}

.arrow {
  background-color: #fff;
  border: none;
  outline: none;
  font-size: 24px;
  padding: 10px;
  cursor: pointer;
}

.arrow-left {
  margin-right: auto;
}

.arrow-right {
  margin-left: auto;
}





/*--------------------  TOOLS ENDS ----------------------------------------*/

/*--------------------  FOOTER STARTS ----------------------------------------*/


footer {
  background-color: #fdd5b1;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 18px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-md-3,
.col-sm-6 {
  width: calc(100% / 4);
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 30px;
}

.col-md-3:last-child,
.col-sm-6:last-child {
  padding-right: 0;
}

h4 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 10px;
}

li:last-child {
  margin-bottom: 0;
}

a {
  color: #000a2a;
  text-decoration: none;
}

a:hover {
  color: #ff6a3d;
}


/*--------------------  FOOTER ENDS ----------------------------------------*/

@media only screen and (max-width: 600px) {
  body {
    height: 80vh;
    overflow-x: hidden;
  }

  .logo-container {
    width: 40px;
    height: 40px;
  }

  .logo-container img {
    width: 35px;
    height: auto;
    margin-left: -5px;
    margin-top: 12px;
  }

  nav {
    height: 50px;
  }

  nav ul {
    margin-left: 25px;
  }

  nav li {
    margin: 4px;
  }

  nav a {
    font-size: 8px;
  }

  .blog {
    display: none;
  }

  video {
    margin-top: 100px;
  }

  .bg {
    width: 30%;
  }

  @keyframes move {
    0% {
      left: -40%;
    }

    100% {
      left: calc(100vw - 120px);
    }
  }

  .main h1 {
    font-size: 35px;
    margin-top: 60px;
  }

  .main p {
    font-size: 15px;
    margin: 0 0 0 15%;
  }

  form {
    margin-top: 50px;
  }

  input[type="text"] {
    padding: 15px;
    font-size: 9px;
    width: 100px;
  }

  button[type="submit"] {
    padding: 13px 20px;
    font-size: 12px;
  }

  form input[type="text"]::placeholder {
    color: #ff6a3d;
  }

  .help-button {
    bottom: 10%;
    left: 10px;
    padding: 5px 10px;
    border-radius: 5px;
  }

  .help-button a {
    font-size: 12px;
  }

  .popup {
    bottom: 10%;
    right: 10px;
    width: 100px;
    height: max-content;
    padding: 5px;
    border-radius: 10px;
  }

  .popup .message p {
    font-size: 10px;
  }

  .popup .message .code {
    font-size: 12px;
  }

  .popup .details {
    padding: 3px;
    margin: 1px 0;
    border-radius: 2px;
  }

  .popup .details a {
    font-size: 10px;
  }

  footer {
    font-size: 7px;
  }

  footer a {
    font-size: 6.5px;
  }
}