@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Inspiration&family=Righteous&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  top: 0px;
  margin: 0px;
  height: 100%;
  background-color: #181e32;
  /* background-color: #9DAAF2   */
  color: #f8e089;
}

body {
  margin: 0px;
  overflow-x: hidden;
  overflow-y: hidden;

}

.logo-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  z-index: 999;
}

.logo-container img {
  height: 60px;
  margin-right: 10px;
  margin-top: 20px;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 900;
  background-color: #FF6A3D;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  overflow: hidden;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
}

nav li {
  margin: 10px 62px;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-weight: normal;
  text-transform: uppercase;
  font-family: 'Righteous', cursive;
}

nav a:hover {
  text-decoration: underline;
}

video {
  margin-top: 8%;
}

.bg {
  width: 12%;
  height: auto;
  z-index: -1;
  position: relative;
  animation: move 10s linear infinite;
}

@keyframes move {
  0% {
    left: -40%;
  }

  100% {
    left: calc(100vw - 100px);
  }
}

.main {
  margin-top: -150px;
}

.main h1 {
  font-family: 'Righteous', cursive;
  font-size: 50px;
  text-align: center;
  color: #f8e089;
  z-index: 1;
  margin-top: 16px;
}

.main p {
  font-family: 'Dancing Script', cursive;
  font-size: 18px;
  text-align: center;
  color: #f8e089;
  margin: 2px 0 0 10%;
  z-index: 1;
}

form {
  margin-top: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type="text"] {
  padding: 30px;
  border: none;
  border-radius: 10px 0 0 10px;
  font-size: 16px;
  width: 250px;
}

button[type="submit"] {
  padding: 30px 40px;
  border: none;
  border-radius: 0 10px 10px 0;
  background-color: #FF6A3D;
  color: #f8e089;
  font-size: 16px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #555;
}

form input[type="text"]::placeholder {
  color: #FF6A3D;
}

.help-button {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background-color: #FF6A3D;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
}

.help-button a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.popup {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: auto;
  height: max-content;
  background-color: #FF6A3D;
  border-radius: 20px;
  padding: 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  animation: zoomInOut 2s infinite;
}

@keyframes zoomInOut {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}

.popup .message p {
  margin: 4px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
}

.popup .message .code {
  color: #181f33;
  margin: 4px;
}

.popup .details {
  padding: 6px;
  background-color: #fff;
  color: #FF6A3D;
  border-radius: 5px;
  margin: 4px;
  text-align: center;
}

.popup .details a {
  color: #FF6A3D;
  text-decoration: none;
  font-weight: bold;
  margin: 4px;
}

/* Footer */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #fff;
  font-size: 10px;
  padding: 10px;
  text-align: center;
  z-index: -1;
}

footer p {
  margin: 0;
}

footer a {
  color: #fff;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
  color: #f8e089;
}

@media only screen and (max-width: 600px) {

  body {
    height: 80vh;
    overflow: hidden;
  }

  .logo-container {
    width: 40px;
    height: 40px;
  }

  .logo-container img {
    width: 35px;
    height: auto;
    margin-left: -5px;
    margin-top: 12px;
  }

  nav {
    height: 50px;
  }

  nav ul {
    margin-left: 25px;
  }

  nav li {
    margin: 4px;
  }

  nav a {
    font-size: 8px;
  }

  .blog {
    display: none;
  }

  video {
    margin-top: 100px;
  }

  .bg {
    width: 30%;
  }

  @keyframes move {
    0% {
      left: -40%;
    }
  
    100% {
      left: calc(100vw - 115px);
    }
  }

  .main h1 {
    font-size: 35px;
    margin-top: 60px;
  }

  .main p {
    font-size: 15px;
    margin: 0 0 0 15%;
  }

  form {
    margin-top: 50px;
  }

  input[type="text"] {
    padding: 15px;
    font-size: 9px;
    width: 100px;
  }

  button[type="submit"] {
    padding: 13px 20px;
    font-size: 12px;
  }

  form input[type="text"]::placeholder {
    color: #FF6A3D;
  }

  .help-button {
    bottom: 10%;
    left: 10px;
    padding: 5px 10px;
    border-radius: 5px;
  }

  .help-button a {
    font-size: 12px;
  }

  .popup {
    bottom: 10%;
    right: 10px;
    width: 100px;
    height: max-content;
    padding: 5px;
    border-radius: 10px;
  }

  .popup .message p {
    font-size: 10px;
  }

  .popup .message .code {
    font-size: 12px;
  }

  .popup .details {
    padding: 3px;
    margin: 1px 0;
    border-radius: 2px;
  }

  .popup .details a {
    font-size: 10px;
  }

  footer {
    font-size: 9px;
  }

  footer a {
    font-size: 9px;
  }

}