@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inspiration&family=Righteous&display=swap');

html {
    background-color: #181f33;
    /* background-color: #9DAAF2 #FF6A3D  */
    color: #f8e089;
}

h1 {
    font-family: 'Righteous', cursive;
    font-size: 50px;
    text-align: center;
    color: #f8e089;
}

p {
    font-family: 'Inspiration', cursive;
    font-size: 20px;
    text-align: center;
    color: #f8e089;
    margin: -40px 0 0 15%;
}
#animation-container {
    width: 300px;
    height: 300px;
    margin: auto;
}
