@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Inspiration&family=Righteous&display=swap');

* {
    box-sizing: border-box;
  }
  
  html {
    background-color: #181e32;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  body {
    margin: 0px;
    overflow-x: hidden;
    position: relative;
    min-height: 100%;
  }

/*--------------------  HEAD STARTS ----------------------------------------*/

.head {
    display: flex;
    flex-direction: column;
  }
  
  /*--------------------  SOCIAL STARTS ----------------------------------------*/
  
  .social {
    width: 100%;
    height: 35px;
    background-color: #ff6a3d;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    overflow: hidden;
    border-bottom: 1px solid #ff9a7b;
  }
  
  .social ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
  }
  
  .social li {
    margin: 10px;
    display: flex;
    align-items: center;
  }
  
  .social a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: normal;
  }
  
  .social a:hover {
    background:none;
    color: #fff;
  }
  
  /*--------------------  SOCIAL ENDS ----------------------------------------*/
  /*--------------------  NAV STARTS ----------------------------------------*/
  
  .logo-container {
    position: absolute;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    left: 0;
  }
  
  .logo-container img {
    height: 50px;
    margin: 0;
  }
  
  nav {
    width: 100%;
    background-color: #ff6a3d;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    overflow: hidden;
  }
  
  .navigations {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    z-index: 9999;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
  }
  
  nav li {
    margin: 10px 20px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: normal;
    text-transform: uppercase;
    font-family: "Righteous", cursive;
  }
  
  nav a:hover {
    text-decoration: underline;
    background:none;
    color: #fff;
  }
  
  .profile {
    position: absolute;
    width: max-content;
    height: max-content;
    padding: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-width: 1200px;
  }
  
  .profile li {
    margin: 0 10px;
  }
  .profile a:hover{
    background:none;
    color: #fff;
  }
  
  /*--------------------  NAV ENDS ----------------------------------------*/
  /*--------------------  DISCOUNT STARTS ----------------------------------------*/
  
  .discount {
    width: 100%;
    height: 35px;
    background-color: #fdd5b1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    overflow: hidden;
    color: #ff6a3d;
    font-weight: bold;
  }
  
  .discount p {
    animation: float 20s linear infinite;
    white-space: nowrap;
    overflow: hidden;
  }
  
  @keyframes float {
    0% {
      transform: translateX(100%);
    }
  
    50% {
      transform: translateX(-100%);
    }
  
    100% {
      transform: translateX(100%);
    }
  }
  
  /*----- DISCOUNT ENDS -----*/
  /*--------------------  HEAD ENDS ----------------------------------------*/
  

/* Footer */
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #fff;
    font-size: 10px;
    padding: 10px;
    text-align: center;
    z-index: -1;
}

footer p {
    margin: 0;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: #f8e089;
}

@media only screen and (max-width: 600px) {

    body {
        height: 80vh;
        overflow: hidden;
    }

    .logo-container {
        width: 40px;
        height: 40px;
    }

    .logo-container img {
        width: 35px;
        height: auto;
        margin-left: -5px;
    }

    nav {
        height: 35px;
    }

    nav ul {
        margin-left: 15px;
    }

    nav li {
        margin: 4px;
    }

    nav a {
        font-size: 8.5px;
    }

    footer {
        font-size: 9px;
    }

    footer a {
        font-size: 9px;
    }

}