@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Inspiration&family=Righteous&display=swap');

html {
    background-color: #181f33;
    /* background-color: #9DAAF2   */
    color: #f8e089;
}

body {
    overflow-y: hidden;
    overflow-x: hidden;
}

.logo-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    z-index: 999;
}

.logo-container img {
    height: 60px;
    margin-right: 10px;
}


nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 900;
    background-color: #FF6A3D;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
}

nav li {
    margin: 10px 62px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: normal;
    text-transform: uppercase;
    font-family: 'Righteous', cursive;
}

nav a:hover {
    text-decoration: underline;
}

/* Footer */
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #fff;
    font-size: 10px;
    padding: 10px;
    text-align: center;
    z-index: -1;
}

footer p {
    margin: 0;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: #f8e089;
}